// colors
$darkgreen: #4C4B37;
$teal: #5CAC99;
$goldenrod: #E3A113;
$lightbackground: #E9E5DA; 
$snow: #fffafa;

//fonts
$headline-font: Open Sans;
$footer-font: Lobster;

// other goldenrod variations
// goldenrod #C69630;
// goldenrod #ECA40A;

// other teal variations
//teal #6F998F;