// colors
$darkolivegreen: #495432;
$lightolivegreen: #a4a998;
$teal: #6F998F;
$greentest: #4C4B37;
$lightbackground: #E9E5DA; 
// #D7D2CC;
$goldenrod: #C69630;
$goldaccent: #CCB981;
$snow: #fffafa;

//fonts
$headline-font: Open Sans;
$footer-font: Lobster;